name: Ansible Deployment

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 8 * * 2,6'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Notify start
      run: |
        curl -H "Authorization: Bearer ${{ secrets.S_NTFY_TOKEN }}" \
             -H "Title: Iniciando actualizaci贸n" \
             -H "Priority: default" \
             -d "Iniciando proceso de actualizaci贸n en GitHub Actions" \
             https://ntfy.bnds.link/NJWeS1A7FZHj5bKQ

    - name: Set up Tailscale
      run: |
        curl -fsSL https://tailscale.com/install.sh | sh
        sudo tailscale up --authkey ${{ secrets.TAILSCALE_AUTH_KEY }}

    - name: Install Ansible
      run: |
        sudo apt update
        sudo apt install -y ansible

    - name: Set up SSH keys
      env:
        VAULT_PASSWORD: ${{ secrets.ANSIBLE_VAULT_PASSWORD }}
      run: |
        echo "$VAULT_PASSWORD" > vault_password.txt
        ansible-vault decrypt --vault-password-file vault_password.txt vault/ssh_keys.yml
        mkdir -p ~/.ssh
        yq e '.ssh_key_ark' vault/ssh_keys.yml > ~/.ssh/ark_key
        yq e '.ssh_key_primal' vault/ssh_keys.yml > ~/.ssh/primal_key
        yq e '.ssh_key_rage' vault/ssh_keys.yml > ~/.ssh/rage_key
        yq e '.ssh_key_bm' vault/ssh_keys.yml > ~/.ssh/bm_key
        chmod 600 ~/.ssh/*_key

    - name: Verify SSH connections
      run: |
        ansible all -i inventory/host.ini -m ping

    - name: Run Ansible Playbook
      env:
        ANSIBLE_HOST_KEY_CHECKING: false
      run: |
        ansible-playbook -i inventory/host.ini playbooks/upgrade.yml --vault-password-file vault_password.txt -e "token=${{ secrets.S_NTFY_TOKEN }}"
    - name: Enviar notificaci贸n de error
      if: failure()
      run: |
        curl -H "Authorization: Bearer ${{ secrets.S_NTFY_TOKEN }}" \
             -H "Title: Error en GitHub Actions" \
             -H "Priority: high" \
             -d "Error en el proceso de actualizaci贸n en GitHub Actions " \
             https://ntfy.bnds.link/NJWeS1A7FZHj5bKQ

    - name: Clean up
      run: |
        rm -f vault_password.txt
        rm -f ~/.ssh/*_key

    - name: Notify end
      if: always()
      run: |
        curl -H "Authorization: Bearer ${{ secrets.S_NTFY_TOKEN }}" \
             -H "Title: Finalizada GitHub Actions actualizaci贸n" \
             -H "Priority: default" \
             -d "Proceso de actualizaci贸n en GitHub Actions finalizado" \
             https://ntfy.bnds.link/NJWeS1A7FZHj5bKQ